*{
    margin: 0;
    padding: 0;
}
/*Page 1*/
.page1 article, .page1 div, .page1 aside{
    width: 900px;
}
.page1{
width: 970px;
height: 1390px;
margin: 60px 0 0 80px;
padding-top: 1px;
background-color: gray;
}
.page1 article{
    height: 600px;
    margin: 5px 30px 30px 40px;
    background-color:whitesmoke;
}
.page1 div{
    height: 400px;
    margin: 20px 10px 30px 60px;
    background-color: red;
}
.page1 aside{
    height: 300px;
    margin: 30px 40px 30px 30px;
    background-color: rebeccapurple;
}
/*Page 2*/
.page2{
    width: 895px;
    height: 950px;
    margin: 60px 0 0 80px;
    padding-top: 1px;
    background-color: gray;
}
.page2 article{
    background-color: black;
    width: 835px;
    height: 260px;
    margin: 30px 20px 15px 40px;
    padding-top: 1px;
}
.page2 article div{
    background-color:whitesmoke;
    width: 800px;
    height: 100px;
    margin: 30px 15px 20px 20px;
    padding: 0;
}
.page2 article aside{
    background-color: whitesmoke;
    width: 800px;
    height: 100px;
    margin: 20px 15px 10px 20px;
}
.page2 div{
    width: 835px;
    height: 350px;
    margin: 15px 30px 20px 30px;
    padding-top: 1px;
    background-color: black;
}
.page2 div aside{
    width: 800px;
    height: 300px;
    margin: 30px 25px 20px 10px;
    background-color: whitesmoke;
}
.page2 aside{
    width: 835px;
    height: 250px;
    margin: 20px 15px 25px 25px;
    background-color: black;
}
/*Page 3*/
.page3{
    width: 980px;
    height: 830px;
    margin: 40px 0 0 30px;
    padding-top: 1px;
    background-color: gray;
}
.page3>article{
    width: 900px;
    height: 300px;
    margin: 10px 40px 30px 40px;
    background-color: whitesmoke;
}
.page3>div{
    width: 900px;
    height: 240px;
    margin: 30px 50px 40px 30px;
    padding-top: 1px;
    background-color: whitesmoke;
}
.page3>div>article{
    width: 850px;
    height: 100px;
    margin: 10px 15px 20px 15px;
    background-color: black;
}
.page3>div>div{
    width: 850px;
    height: 100px;
    margin: 20px 15px 10px 15px;
    background-color: black;
}
.page3>aside{
    width: 900px;
    height: 200px;
    margin: 40px 60px 10px 20px;
    padding-top: 1px;
    background-color: whitesmoke
}
.page3>aside>article{
    width: 860px;
    height: 140px;
    margin: 30px 10px 30px 30px;
    padding-top: 1px;
    background-color: white;
}
.page3>aside>article>div{
    width: 820px;
    height: 100px;
    margin: 20px;
    padding-top: 1px;
    background-color: rgba(0, 0, 255, 0.288);
}
.page3>aside>article>div>aside{
    width: 780px;
    height: 80px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 0, 0.24);
}
/*Page 4*/
.page4{
    width: 1000px;
    height: 1200px;
    margin: 40px 0 0 40px;
    padding-top: 1px;
    background-color: rgba(255, 235, 205, 0.171);
}
.page4>article{
    width: 960px;
    height: 1160px;
    margin: 20px;
    padding-top: 1px;
    background-color: rgb(138, 138, 130);
}
.page4>article>div{
    width: 900px;
    height: 1100px;
    margin: 30px;
    padding-top: 1px;
    background-color: blue
}
.page4>article>div>aside{
    width: 880px;
    height: 520px;
    margin: 20px 10px;
    padding-top: 1px;
    background-color:whitesmoke;
}
.page4>article>div>aside>article{
    width: 840px;
    height: 500px;
    margin: 10px 20px;
    padding-top: 1px;
    background-color: black;
}
.page4>article>div>aside>article>div{
    width: 780px;
    height: 460px;
    margin: 20px 30px;
    background-color: white;
}
.page4>article>div>article{
    width: 880px;
    height: 520px;
    margin: 20px 10px;
    padding-top: 1px;
    background-color:whitesmoke;
}
.page4>article>div>article>div{
    width: 840px;
    height: 500px;
    margin: 10px 20px;
    padding-top: 1px;
    background-color: black;
}
.page4>article>div>article>div>aside{
    width: 780px;
    height: 460px;
    margin: 20px 30px;
    background-color: white;
}
/*Page5*/
.page5{
    width: 900px;
    height: 1480px;
    margin: 70px 0 0 60px;
    padding-top: 1px;
    background-color: gray;
}
.page5>article{
    width: 800px;
    height: 1200px;
    margin: 20px 60px 20px 40px;
    padding-top: 1px;
    background-color: purple;
}
.page5>article>article, .page5>article>div, .page5>article>aside{
    width: 760px;
    height: 300px;
    background-color: white;
}
.page5>article>article{
    margin: 20px 30px 30px 30px;
}
.page5>article>div{
    margin: 30px 20px 15px 20px;
}
.page5>article>aside{
    margin: 15px 40px 15px 20px;
}
.page5>article>section, .page5>div{
    width: 760px;
    height: 200px;
}
.page5>article>section{
    margin: 15px 45px 20px 15px;
    background-color: white;
}
.page5>div{
    margin: 30px 70px;
    background-color: black;
}